<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div>
        <a href="/"><h1>Home</h1></a>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/form">Form</a></li>
      </ul>
    </nav>

    <div id="app">
      <a href="download-img"
        ><img src="/images/IMG_1557.JPG" alt="dog-image" style="width: 200px"
      /></a>
    </div>
  </body>
</html>
